# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.int
*.system
*.interpreter

# Distribution / packaging
.Python
env/
venv/
lib/
lib64/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/development/
*.egg-info/
.installed.cfg
*.whl
.venv/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.mo
*.pot
*.log
local_settings.py
.secret
.pypirc
.pybuild/
.conda/
share/python/
